@keyframes anim-o {
  0% {
    opacity: .5;
    transform: translateX(-75%) translateY(40%); }
  50% {
    opacity: 1;
    transform: translateX(-75%) translateY(20%); }
  100% {
    opacity: 1;
    transform: translateX(-75%) translateY(0); } }

@keyframes anim-i {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.6;
    transform: translateX(-85%) translateY(-40%) rotate(480deg) skewY(7deg); }
  100% {
    opacity: 0;
    transform: translateX(-100%) translateY(-80%) rotate(720deg) skewY(10deg); } }

@keyframes jump-k {
  0% {
    opacity: 1; }
  33% {
    transform: translateX(-130%) translateY(-2rem) rotate(-30deg); }
  60% {
    transform: translateX(-130%) translateY(-4rem) rotate(30deg); }
  100% {
    transform: translateX(-130%) translateY(0rem) rotate(0deg); } }

.u-mt-4 {
  margin-top: 4rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-8 {
  margin-bottom: 8rem; }

.u-mt-8 {
  margin-top: 8rem; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-left: auto; }

.formpage_body {
  background-image: linear-gradient(to right bottom, rgba(116, 0, 184, 0.65), rgba(114, 239, 221, 0.8)), url("../img/koder-login-bg.jpg");
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden; }

.card {
  font-family: 'Sora',sans-serif;
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 60rem;
  width: 45%; }
  .card__heading {
    font-size: 3rem;
    color: #fefae0;
    letter-spacing: 1.5px;
    text-align: center; }
  .card__side {
    height: 60rem;
    transition: all 1s cubic-bezier(0.17, 0.67, 0.69, 1.38);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden; }
    .card__side--front {
      background-image: linear-gradient(to left top, #7400B8, #5390D9);
      box-shadow: 0 2rem 3rem rgba(116, 0, 184, 0.8); }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, #7400B8, #5E60CE);
      box-shadow: 0 2rem 3rem rgba(105, 48, 195, 0.8); }

.btn {
  background-color: #fefae0;
  color: #6930C3;
  padding: 2rem 3rem;
  border: none;
  border-radius: 40px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  transition: all .2s ease-out;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.4rem; }
  .btn:active {
    transform: translateY(4px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7); }
  .btn:focus {
    outline: none; }
  .btn-turn, .btn-turn-back {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    padding-right: 5rem; }
  .btn-reset {
    font-weight: 500;
    color: orangered;
    background-color: #fefae0; }
  .btn-sub {
    font-weight: 500;
    color: green;
    background-color: #fefae0; }
  .btn > span {
    transition: all .3s ease-out;
    position: absolute;
    right: 3rem; }
  .btn:hover > span {
    position: absolute;
    transform: translateX(2rem); }

.input__group {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 66.66%;
  display: block;
  transition: all .3s;
  margin-bottom: 3rem;
  border-bottom: 5px solid transparent; }
  .input__group:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #48BFE3; }
  .input__group:focus:invalid {
    border-bottom: 3px solid orangered; }
  .input__group::-webkit-input-placeholder {
    color: #888;
    font-weight: 500; }

.form-group {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .form-group__buttons {
    display: flex;
    flex-direction: row;
    align-self: auto;
    font-size: 1.6rem;
    font-family: 'Sora',sans-serif; }
    .form-group__buttons .btn {
      cursor: pointer;
      position: relative; }
  .form-group input {
    font-family: 'Sora',sans-serif; }

.title-box {
  position: relative; }

.heading-super {
  display: inline-block;
  animation: jump .8s;
  text-align: center;
  margin-top: 10%;
  font-size: 10rem;
  position: relative;
  color: #fefae0;
  letter-spacing: .8rem;
  width: 50%; }
  .heading-super .letter {
    padding: 0 2.8rem;
    position: absolute;
    display: inline-block;
    transform: translateX(-75%); }
    .heading-super .letter-k {
      transform: translateX(-130%); }
    .heading-super .letter-i {
      transform: translateX(-85%);
      animation: anim-i .7s ease-out 1s;
      animation-fill-mode: forwards; }
    .heading-super .letter-o {
      opacity: 0;
      animation: anim-o .5s ease-out .8s;
      animation-fill-mode: forwards; }
  .heading-super:hover .letter-k {
    animation: jump-k .5s ease-out; }

.title-slogan {
  color: #fefae0;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  width: 50%;
  transform: translateX(-10%); }

.title-list {
  color: #fefae0;
  width: 50%;
  transform: translateX(30%); }
  .title-list__group {
    list-style: circle; }
  .title-list__item {
    font-size: 1.6rem; }

.section-form {
  top: -100%;
  right: 0;
  z-index: 1; }

.navbar {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between; }
  .navbar__list {
    list-style: none;
    display: flex; }
  .navbar__item {
    padding: 0 2rem; }
  .navbar__link {
    text-decoration: none; }
  .navbar__logo {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.3) translate(-75%, -75%);
    border-radius: 50%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4); }

html {
  font-size: 10px;
  margin: 0;
  font-family: "Sora", sans-serif;
  box-sizing: border-box; }

* {
  font-size: inherit;
  box-sizing: inherit; }

::selection {
  background-color: #7400B8; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative; }

.lander_body {
  background-image: linear-gradient(105deg, rgba(116, 0, 184, 0.85) 0%, rgba(83, 144, 217, 0.85) 50%, rgba(254, 250, 224, 0.5) 50%), url("../img/koder-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
