$color-1: #7400b8;
$color-2: #6930c3;
$color-3: #5e60ce;
$color-4: #5390d9;
$almost-white: #fefae0;
$color-5: #4ea8de;
$color-6: #48bfe3;
$color-7: #56cfe1;
$color-8: #72efdd;
$black-col: #000;
$color-white: #fff;
