$color-1:#7400B8;
$color-2:#6930C3;
$color-3:#5E60CE;
$color-4:#5390D9;
$almost-white:#fefae0;
$color-5:#4EA8DE;
$color-6:#48BFE3;
$color-7:#56CFE1;
$color-8:#72EFDD;
$black-col:#000;
$color-white:#fff;
